body, html {
  width: 100%;
  height: 100%;
}
body {
  font-family: "AvenirRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.8;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

}
h1, h2, h3, h4, h5, h6 {
  font-family:"AvenirNext" "AvenirMedium", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
p {
  color: #888;
}
a:focus {
  outline: none !important;
}

.navbar-default, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background: transparent;
  border: none;
}
.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-default .navbar-toggle {
  border: none;
}
.navbar-default .navbar-nav>li>a:hover {
  opacity: 0.7;
}
.topnav {
  font-size: 17px;
  padding: 0.8em 0;
}


.intro-message {
  position: relative;
  padding-top: 15%;
  padding-bottom: 10%;
}
.intro-message p {
  color: #E2E2E2;
}
.intro-message > h1 {
  margin: 0;
  font-size: 2.6em;
}
.intro-message > h2 {
	margin-bottom: 3%;
}
.intro-divider {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.network-name {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
}
.content-section-a {
  padding: 50px 0;
  background-color: #f8f8f8;
}
.content-section-b {
  padding: 50px 0;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}
.section-heading {
  margin-bottom: 30px;
}
.section-heading-spacer {
  float: left;
  width: 200px;
  border-top: 3px solid #e7e7e7;
}
.down-arrow {
  padding: 0;
}
@-webkit-keyframes "arrow-bounce" {
  0%, 100% {
    transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  50% {
    transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
}
keyframes inf-bounce {
  0%, 100% {
    transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px)
  }
  50% {
    transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -webkit-transform: translateY(5px);
    transform: translateY(5px)
  }
}
#arrow {
  opacity: 0.6;
  animation: arrow-bounce 1.5s infinite;
  -webkit-animation: arrow-bounce 1.5s infinite;
}
#arrow a {
  transition: all 0.2s ease;
}
#arrow .arrow-icon {
  width: 58px;
  cursor: pointer;
  padding: 10px 10px;
}
.banner {
  padding: 20px 0 0;
  color: #fff;
  background: #b1b5b8;
  box-shadow: 0 1px 9px rgba(0, 0, 0, 0.2) inset;
}
.banner h2 {
  margin: 0 0 1em;
}
.banner h3 {
  color: #000;
}
.banner .container {
  overflow: hidden;
  padding-bottom: 50px;
}
.abs-phone-2 {
  width: 100%;
  bottom: -70px;
}
.abs-phone-2 img {
  position: absolute;
}
.navbar-right li {
  margin-left: 20px;
}
.intro-form p {
  color: #B9B9B9
}
.banner ul {
  margin-bottom: 0;
}
.banner-social-buttons {
  float: right;
  margin-top: 0;
}
.copyright{
    margin-top:15px;
}
.address{margin-top:20px}
footer {
  padding-top: 27px;
  height:142px;
  background-color: #302c2d;
  color: #fff;
}
footer .text-muted {
  color: #E2E2E2;
}
footer a, footer a:hover {
  color: #6DB9FB;
}
p.copyright {
  margin: 15px 0 0;
}

.intro-form {
  margin: 4em 0 1em;
}
.intro-form input, .intro-form button {
  border: none;
}
.intro-form button {
  padding: 11px 16px;
  width: 200px;
}
.btn-primary {
  background: #00acc7;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:active:focus, .btn-primary:active:hover {
  background-color: #00acc7;
  border-color: #00acc7;
}
.trio-text {
  padding: 8em 0 6em;
}
.trio-text h3 {
  color: #000;
}
.s-wrap {
  padding: 5em 0 0;
  color: #222;
}
.s-box {
  background-color: #fff;
  padding: 13px 15px 10px;
  border-radius: 3px;
  margin-bottom: 10px;
}
.s-box p {
  margin: 0;
  font-size: 16px;
}
.s-box.trans {
  background-color: transparent;
  color: #000;
  padding-left: 0;
}
.s-box.trans p {
  color: #000;
}
.s-box p strong {
  color: #222;
  font-family: "AvenirMedium", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.abs-phone {
  height: 500px;
  position: relative;
}
.abs-phone img {
  position: absolute;
  bottom: -12em;
  right: -20px;
}
.testimonials blockquote {
  position: relative;
  background: white;
  min-height: 150px;
  margin-top: 20px;
  padding: 20px 20px 40px;
  margin-bottom: 100px;
  border: 1px solid #D4D4D4;
}
.success-text {
  color: #68FFB5 !important;
}
.social-btns .btn {
  border: none;
  padding: 9px 16px 6px;
  margin-bottom: 10px;
}


.social{
  text-align: center;
  margin-top: 10px;
}
.social a{
  font-size:1.2em;
}

@media(max-width:767px) {
    .social{margin-top:20px}

  footer{
    height:280px;
  }

  .social{
    text-align: center;
  }
  .part{
    margin-left:8.2%;

  }



  .topnav {
    padding: 10px;
  }

  .s-wrap {
    padding: 15px 0;
  }
  .banner h2 {
    font-size: 1.4em;
    margin: 0 0 20px;
  }
  footer .text-right {
    text-align: left;
    margin-top: 1em;
  }

}
@media(min-width:768px) {
  .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-left: 20px;
    margin-right: 20px;
  }
  .navbar-right {
    margin-right: 0;
  }


}


@media(max-width:1199px) {
  ul.banner-social-buttons {
    float: left;
    margin-top: 15px;
  }
}
@font-face {
  font-family: 'AvenirRegular';
  src: url('../fonts/avenir-book.eot');
  src: url('../fonts/avenir-book.eot') format('embedded-opentype'), url('../fonts/avenir-book.woff') format('woff'), url('../fonts/avenir-book.ttf') format('truetype'), url('../fonts/avenir-book.svg#AvenirRegular') format('svg');
}
@font-face {
  font-family: 'AvenirMedium';
  src: url('../fonts/avenir-medium.eot');
  src: url('../fonts/avenir-medium.eot') format('embedded-opentype'), url('../fonts/avenir-medium.woff') format('woff'), url('../fonts/avenir-medium.ttf') format('truetype'), url('../fonts/avenir-medium.svg#AvenirMedium') format('svg');
}





/*footer */
.footer{
  font-size: 0.9em;
  margin-top: 3px;
}
footer{
  height:auto;
}
.footer a{
  font-size: 0.8em;
  color:#888;
}
.part-1{
  margin-right: 10px;
  font-size: 0.6em;
}




.first-section{
  position: relative;
  height:110vh;
  top:0;
  width:100%;
  /*background-color: #0087BD;*/
    background-image: url(../img/intro-bg.jpg);
    background-size: cover;
}
.this-header{
  color:white;
  position:absolute;
  top:237px;
  left:176px;
  width:35vw;
}
.this-header>h1{
  font-size:50px;
  line-height:1.1em;
}
.iphone{
  position: absolute;
  top:88px;
  right: 297px;
}
.android{
  position:absolute;
  top:95px;
  right: 140px;
}
.main-button{
  position: absolute;
  top:407px;
  left:176px;
  font-size:1.3em;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.mobile-phone{
  display:none;
}
.any{
  position: absolute;
  top:460px;
  left:176px;
  color:white;
}
.second-section{
  position:relative;
  min-height:100vh;
  width:100%;
  background-color: white;
}
.second-c{
  margin-top: 100px;
}
.second-c>h1{
  font-size:55px;
  color:#888;
  text-align:center;
}
.second-c>h2{
  font-size: 22px;
  text-align:center;
}
.slider-text>div{
  padding-bottom:110px;
  min-height:100px;
}

#steps>div>div>img{
  padding-left:30%;
}

#myTopnav{
  padding-top: 0;
  padding-bottom: 0;
  height:90px;
}
.nav-colored{
  background-color: #888;
  background-image: url(../img/background-pattern@2x.png);
  background-position: center;
  background-size: cover;
  transition: background-color 200ms linear;
}
.nav-transparent{
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 200ms linear;
}

#myNavbar{
  padding-top: 20px;
  padding-left: 0;
  font-size: 16px;
  height:90px;
}
#myNavbar>ul>li>a{
  color:white;
}
#myNavbar>ul>li>a:hover{
  background-color: transparent;
  animation-duration:1s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:bounce;
	transform-origin:center bottom
}
@-webkit-keyframes bounce{
	from,to{transform:translateY(0)}50%{transform:translateY(-10px)}
	}
	@keyframes bounce{
		from,to{transform:translateY(0)}50%{transform:translateY(-10px)}


}
.sign:hover{
  background-color: white;
  animation: none;
  color: darkblue;
}
.dload {
  border: 1px solid #fff;
  border-radius: 5px;
}


.icon{
  padding-top: 19px;
  padding-left:3px;
  padding-right: 0;
}
.icon-bar{
  background-color: white;
}
.third-section{
  margin-top:130px;
  min-height:110vh;
  width:100%;
  background: -webkit-linear-gradient(left,#E424E1,#6563A4);
  background:linear-gradient(to right,#E424E1,#6563A4);
}
.extra-features{
  padding-top: 100px;

}
.extra-f-header{
  color:white;

  line-height: 50px;
  text-align:center;
}
.extra-f-header>h1{
  font-size:42px;
  line-height:50px
}
.extra-f-h1{
  color:white;
  font-size:24px;
}
.ppp{
  font-size:16px;
  text-align:center;
  color:white;
}
.even-more-features-left{
  margin-left: 19%;
}

.even-more-features{
  margin-left: 11.6%;
}

.first-row{
  margin-top:40px;
  margin-bottom: 30px;
}
.video-prompt{
  padding-top:40vh;k;margin-top:90px;,
}
.video-prompt>a{
  margin-top:40vh;
}
.inner-box{
  position: relative;
  height:50vh;
  width:85vw;
  margin-left:7.5vw;
  top:35vh;
  color:black;
}
.inner-box-header{
  margin-left:80px;
}
.inner-box-header>h1{
  font-size:3.0em;
}
.inner-box-header>h3{
  line-height:1.25em;
  width:560px;
  color:#888;
  text-align: left;
}
.video-box{
  position:absolute;
  top:20px;

  left: 700px;
  background-color: blue;
  height:220px;
  width:390px;
}
.video-box>img{
  height:250px;
  width:390px;
  border-radius:10px;
}
.show-small{
  display:none
}
.button{

  position: relative;
  width:200px;
background-color: #973B52;
  margin-top: 45px;
  font-size: 1.1em;
  padding: 6px 4px;
  padding-left: 10px;
  padding-right: 50px;
  border: 1px #973B52 solid;
  border-radius: 5px;
}
.button>a{
  color:#ffffff;
  font-weight:thin;
}
.button>i{
  position:absolute;
  right:0;
}
.invest{
  background-color: 	white;

}

.lot{
  background-color: #0087BD;
  width:100%;
  min-height:160vh;
}
.lot-header{
    padding-top: 140px;
    padding-bottom: 100px;
}
.lot-header>h1{
  font-size: 55px;
  line-height: 66px;
  font-weight: normal;
  color: white;
}
.more-text{
  color:white
}
.pre-press{
  background-color: 	#0087BD;
  background-image: url(../images/background-pattern@2x.png);
  background-position: center;
  background-size: cover;
}


.copyright{
  font-size:14px;
}
.mehn-text{
  font-size: 14px;
  line-height:20px;
}
#steps{
  position:relative;
  top:4vh;
  left:15vw;
  min-height:60vh;
  width:30vw;
}
.steps-small-text{
  display:none;
}
#steps>div>div>img{

  position:relative;

  height:60vh;
}
#steps>div>div>img{
  height:360px;
}
.item{
  position:relative;
}

a.click:hover{
  cursor: pointer
}
.carousel-indicators{
  top:63vh;
}
.steps-in>li{
  border-color: #888;
}
.steps-in>.active{
  background-color: #888;
}

.slider-text{
  position:absolute;
  margin-top: -43vh;
  margin-left:50vw;
}
.slider-text>div>div>h1{
  font-size: 24px;
  line-height: 24px
  color:#505050;
}
.slider-text>div>div>h2{
  font-size: 16px;
  line-height: 24px
  color:#505050;
}
.steps-in{
  display:none;
}
/*responsive*/
@media screen and (max-width: 600px){

  .navbar-toggle{
    margin-top:3vh;
  }
  #myNavbar{
      width:100vw;
      overflow: visible;
      height:auto;
      background-color: #888;
  }
  #myNavbar>ul>li{
    width:60vw;
    padding-left: 10vw;
  }
  #myNavbar>ul>li:hover{
    color:black;
  }
  #myTopnav:hover{
    background-color: #888;
  }

  .steps-in{
    display:block;
    margin-top:9vh;
  }
  .first-section{
    margin-bottom: 0vh;
    height:80vh;
  }
  .this-header{
    position:absolute;
    left:10vw;
    top:13vh;
    width:80vw;
    text-align:center;
  }
  .this-header>h1{
    font-size:42px;
    line-height: 50px;
  }
  .main-button{
    top:43vh;
    left:10vw;
    width:80vw;
    font-size: 18px;
    padding-left:0;
    padding-right:0;
    text-align:center;
  }
  .any{
    top:50vh;
    width:80vw;
    left:7vw;
    text-align: center;
    font-size:20px;
    line-height: 24px;
  }
  .mobile-phone{
    position: absolute;
    display:block;
    width:70vw;
    left:15vw;
    height:80vh;
    top:60vh;
  }
  .second-section{
    margin-top:60vh;
    padding-top: 0vh;
  }
  .second-c{
    margin-top:12vh;
    color:black;
    width:90%;
    left:5%;
  }
  .second-c>h1{
    font-size:32px;
    line-height: 43px;
    text-align:center;
    color:black;
  }
  .second-c>h2{
    font-size:18px;
    line-height: 25px;
    text-align:center;
    color:#888;
  }

  #steps{

    width:100%;
    left:0;
  }
  #steps>div>div>img{
    left:0vw;;
    height:300px;
    width:70vw;
  }
.steps-small-text{
  display:block;

  }
.steps-small-text>div>h1{
  font-size:24px;
  line-height: 24px;
}
.steps-small-text>div>img{
  padding-bottom: 10px;
}
.steps-small-text>div>h2{
  margin-top: 0;
  font-size:16px;
  line-height: 24px;
  width:80vw;
  margin-left:7vw;
}

.slider-text{
    display:none;
}
.third-section{
  margin-top: 16vh;
}
.extra-features{
  padding:13px;
}
.extra-f-header{
  padding-top:5vh;
    text-align:center;
}
.extra-f-header>h1{
    font-size:36px;
    line-height:43px;
}
.even-more-features{
  margin-left: 0;
}
.even-more-features-left{
  margin-left: 0;
}
.inner-box{
  top:10vh;
  margin-left: 0;
  padding-bottom: 0;
}
.inner-box-header{
  margin-left:0;
}
.inner-box-header>h1{
  width:100vw;
  text-align:center;
  font-size:36px;
  line-height: 43px;
}
.inner-box-header>h3{
  text-align: center;
  width:100%;
  font-size:18px;
  line-height:25px;
}
.video-box{
  top:30vh;
  left:10vw;
  height:180px;
  width:80vw;;
}
.video-box>img{
  height:180px;
  width:80vw;
}
.show-small{
  display:block;

}
.show-small>a{
    font-size:18px;
    line-height: 18px;

}
.button{
  top:40vh;
  width:80vw;
  left:10vw;
  padding:15px 15px;

  text-align: center;
}

.lot-header{
  padding-top:4vh;
  padding-bottom:4vh;
}
.lot-header>h1{
  font-size:36px;
  line-height:43px;
  margin-left:10vw;
  width:80vw;
}

.more-text{
  margin-top: -3vh;
}
.group{
  margin-bottom:5vh;
}
.pre-press>div>img{
  height:300px;
  width: 100vw;
  margin-left:0;
}
.serious-security{
  padding-top: 0;
  margin-top:0;
  margin-left:1vw;
  width:90vw;
}
.serious-security>h1{
  font-size: 36px;
  line-height:43px;
}
.serious-security>h3{
  font-size: 18px;
  line-height:27px;
}


.footer{
  text-align: center;
}





}

@media(min-width:768px){
}
@media(min-width:992px){

}
@media (min-width:768px) and (max-width:992px){
  .steps-in{
    display:block;
    margin-top:12vh;
  }
  .android{
    display:none;
  }
  .first-section{
    margin-bottom: 30vh;
  }
  .this-header{
    position:absolute;
    left:10vw;
    top:13vh;
    width:80vw;
    text-align:center;
  }
  .this-header>h1{
    font-size:42px;
    line-height: 50px;
  }
  .main-button{
    top:43vh;
    left:10vw;
    width:80vw;
    font-size: 18px;
    padding-left:0;
    padding-right:0;
    text-align:center;
  }
  .any{
    top:50vh;
    width:80vw;
    left:7vw;
    text-align: center;
    font-size:20px;
    line-height: 24px;
  }
  .mobile-phone{
    position: absolute;
    display:block;
    width:40vw;
    left:30vw;
    height:0vh;
    top:60vh;
  }
  .second-section{
    margin-top:0;
    top:0;
    padding-top: 0;
  }
  .second-c{
    margin-top:42vh;
    color:black;
    width:90%;
    left:5%;
  }
  .second-c>h1{
    font-size:32px;
    line-height: 43px;
    text-align:center;
    color:black;
  }
  .second-c>h2{
    font-size:18px;
    line-height: 25px;
    text-align:center;
    color:#888;
  }

  #steps{

    width:100%;
    left:0;
  }
  #steps>div>div>img{
    left:14vw;;
    height:300px;
    width:40vw;
  }
.steps-small-text{
  display:block;

  }
.steps-small-text>div>h1{
  font-size:24px;
  line-height: 24px;
}
.steps-small-text>div>img{
  padding-bottom: 10px;
}
.steps-small-text>div>h2{
  margin-top: 0;
  font-size:16px;
  line-height: 24px;
  width:80vw;
  margin-left:7vw;
}

.slider-text{
    display:none;
}
.third-section{
  margin-top: 0;
}
.extra-features{
  padding:13px;
}
.extra-f-header{
  padding-top:5vh;
    text-align:center;
}
.extra-f-header>h1{
    font-size:36px;
    line-height:43px;
}
.even-more-features{
  margin-left: 0;
}
.even-more-features-left{
  margin-left: 0;
}
.inner-box{
  top:10vh;
  margin-left: 0;
  padding-bottom: 0;
}
.inner-box-header{
  margin-left:0;
}
.inner-box-header>h1{
  width:100%;
  text-align:center;
  font-size:36px;
  line-height: 43px;
}
.inner-box-header>h3{
  text-align: center;
  width:100%;
  font-size:18px;
  line-height:25px;
}
.video-box{
  top:30vh;
  left:15vw;
  height:40vh;
  width:70vw;
}
.video-box>img{
  height:40vh;
  width:70vw;
}
.tab{
  display:none;
}
.show-small{
  display:block;

}
.show-small>a{
    font-size:18px;
    line-height: 18px;

}
.button{
  top:60vh;
  width:80vw;
  left:10vw;
  padding:15px 15px;

  text-align: center;
}
.lot-header{
  padding-top:4vh;
  padding-bottom:4vh;
}
.lot-header>h1{
  font-size:36px;
  line-height:43px;
  margin-left:10vw;
  width:80vw;
}

.more-text{
  margin-top: -3vh;
}
.group{
  margin-bottom:5vh;
}
.pre-press>div>img{
  height:300px;
  width: 100%;
  margin-left:0;
}
.serious-security{
  padding-top: 0;
  margin-top:0;
  margin-left:1vw;
  width:90vw;
}
.serious-security>h1{
  font-size: 36px;
  line-height:43px;
}
.serious-security>h3{
  font-size: 18px;
  line-height:27px;
}

.press-section{
  min-height:70vh
}
.press-quote{
  padding-top: 15vh;
  min-height:50vh;
  font-size: 22px;
}
.press-people{

}
.abc{
  display:none;
}

.cnbc{
  display:none;
}
.wired{
  display:none;
}
.forbes{
  display:none;
}
.us{
  display:none;
}





}
@media (min-width:768px) and (max-width:1299px){
  .android{
    position:absolute;
    top:95px;
    right: 40px;
  }
}

@media (min-width:1125px) and (max-width:1890px){

  .this-header{
    color:white;
    position:absolute;
    top:237px;
    left:176px;
    width:35vw;
  }


}
@media (min-width:1125px) and (max-width:1290px) {
  .point>img {
    width: 160px;
  }
}
@media (min-width:700px) and (max-width:1124px) {
  .point>img {
    width: 130px;
  }
}

@media (min-width:992px) and (max-width: 1125px){
  .main-button{
    position: absolute;
    top:417px;
    left:176px;
    font-size:1.3em;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 750px){

}
@media screen and (max-width: 600px){

}
